<h1>Editing session</h1>

<% form_for(@session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :game_id %><br />
    <%= f.text_field :game_id %>
  </p>
  <p>
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @session %> |
<%= link_to 'Back', sessions_path %>