<h1>Listing frames</h1>

<table>
  <tr>
    <th>Session</th>
    <th>First frame</th>
    <th>Second frame</th>
  </tr>

<% @frames.each do |frame| %>
  <tr>
    <td><%=h frame.session_id %></td>
    <td><%=h frame.first_frame %></td>
    <td><%=h frame.second_frame %></td>
    <td><%= link_to 'Show', frame %></td>
    <td><%= link_to 'Edit', edit_frame_path(frame) %></td>
    <td><%= link_to 'Destroy', frame, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New frame', new_frame_path %>