<h1>New frame</h1>

<% form_for(@frame) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :session_id %><br />
    <%= f.text_field :session_id %>
  </p>
  <p>
    <%= f.label :first_frame %><br />
    <%= f.text_field :first_frame %>
  </p>
  <p>
    <%= f.label :second_frame %><br />
    <%= f.text_field :second_frame %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', frames_path %>