<p>
  <b>Session:</b>
  <%=h @frame.session_id %>
</p>

<p>
  <b>First frame:</b>
  <%=h @frame.first_frame %>
</p>

<p>
  <b>Second frame:</b>
  <%=h @frame.second_frame %>
</p>


<%= link_to 'Edit', edit_frame_path(@frame) %> |
<%= link_to 'Back', frames_path %>